.mainheader {padding: 50px 0 50px 0; background-color: #e6e6fa; color: #56bc8a; text-align: center;}

h1{font-family: 'Overpass', sans-serif;}

p{font-family: 'Scheherazade New', serif;}



.box1 {background-color: #eed5d2; text-align: center;}

.box2 {background-color: #bada55; text-align: center;}

.box3 {background-color: #e4cfea; text-align: center;}

.box4 {background-color: #b4cbfe; text-align: center;}

.box5 {background-color: #ffc9de; text-align: center;}

.box6 {background-color: #96cdcd; text-align: center;}

.box7 {background-color: #c0d6e4; text-align: center;}

.box8 {text-align: center;}

